<%- include("../header") %>

  <main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
      <!--begin::Container-->
      <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
          <div class="col-sm-6">
            <h3 class="mb-0">Blogs Edit page</h3>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-end">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blogs Edit</li>
            </ol>
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::App Content Header-->
    <!--begin::App Content-->
    <div class="app-content">
      <!--begin::Container-->
      <div class="container-fluid">
        <!--begin::Row-->
        <div class="row g-4">

          <!--begin::Col-->
          <div class="col-md-6">
            <!--begin::Quick Example-->
            <div class="card card-primary card-outline mb-4">
              <!--begin::Header-->
              <div class="card-header">
                <div class="card-title">Add Admin</div>
              </div>
              <!--end::Header-->
              <!--begin::Form-->
              <form method="post" action="/blogs/editBlog">
                <input type="hidden" name="eid" value="<%= singBlog.id %>" />
                <!--begin::Body-->
                <div class="card-body">
                  <div class="mb-3">
                    <label for="exampleInputname" class="form-label">Title Name</label>
                    <input type="text" class="form-control" name="titleName" value="<%= singBlog.titleName %>" />
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputname" class="form-label">Description</label>
                    <textarea name="aboutName" class="form-control"><%= singBlog.aboutName %></textarea>
                  </div>

                  <div class=" col-md-6 mb-3">
                    <label for="validationCustom04" class="form-label">Category</label>
                    <select class="form-select" name="categoryId">
                      <option selected disabled value="">Choose...</option>
                      <% categoryData.map((v,i)=>{ %>
                        <option value="<%= v.id %>" <% if(singBlog.categoryId==v.id){ %>
                          <%= 'selected' %>
                            <% } %>><%= v.categoryname %>
                        </option>
                        <% }) %>
                    </select>

                  </div>


                </div>
                <!--end::Body-->
                <!--begin::Footer-->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                </div>
                <!--end::Footer-->
              </form>
              <!--end::Form-->
            </div>
            <!--end::Quick Example-->
            <!--begin::Input Group-->

            <!--end::Input Group-->

          </div>

        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::App Content-->
  </main>

  <%-include("../footer") %>