<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Data</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="d-flex">
        <h1>Employee Data</h1>
        <a href="/" class="btn">+</a>
    </header>
    <table border="1" align="center" cellpadding="10">
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>password</td>
            <td>Gander</td>
            <td>Hobbies</td>
            <td>Additional Information:</td>
            <td>City</td>
            <td>Action</td>
        </tr>
        <tr>
            <% empData.map((v,i)=>{ %>
            <tr>
                <td><%= v.name %></td>
                <td><%= v.email %></td>
                <td><%= v.password %></td>
                <td><%= v.gander %></td>
                <td><%= v.hobbies %></td>
                <td><%= v.about %></td>
                <td><%= v.City %></td>
                <td><a class="delete" href="/deleteEmp/?id=<%= v.id %>">&#128465;</a>&nbsp<a class="edit" href="/editEmp/<%= v.id %>">&#128394;</a> </td>
            </tr>
            <% }) %>
        </tr>
    </table>
</body>
</html>